/*
header p {
    color: brown;
}

footer p {
    font-size: 0.5rem;
}
[title="primero"]:hover {
    color: green; font-size: 3rem;
}
*/
:root {
    --color1: rgb(78, 218, 211);
}

header {
    border: solid 1px rgb(17, 2, 2);
    padding: 1rem;
    margin: 1rem 2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem grey;
    border-radius: 1rem 2rem 3rem 5rem;
    background-color: papayawhip;
}

h1 {
    text-shadow: 0.1rem 0.1rem 0.1rem grey;
}
.marron {
    color: var(--color1)
}

.letra_peque {
    font-size: 1rem;
}

.primero {
    width: 50%;
    color: green;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align: center;
    margin: 1rem auto;
}

.primero::first-letter {
    font-size: 3rem;
    color: blueviolet;
    font-weight: bold;
    font-style: italic;
}

ol {
    list-style: lower-alpha;
}

.claro {
    background-color: salmon;
}
    
